.icon {
    font-size: 2rem;
    margin-left: 1rem;
    /* margin-top: 1rem; */
  }
  
.aboutText {
    font-size: 0.85rem;
}

.w-100 {
    width: 100%!important;
}

img {
    vertical-align: middle;
    border-style: none;
}