.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-right: 10px;
}